.carouselContainer {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.carouselInner {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 120px; /* Adjust according to your needs */
}

.carouselTrack {
  display: flex;
  align-items: center;
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carouselItem {
  margin-right: 50px; /* Increase the gap between logos */
  flex-shrink: 0;
}

.carouselImage {
  max-width: 100%;
  max-height: 100%;
}
